@model ModelDB2.Models.MultiClass
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Müşteri Listesi</h2>
<style>
    table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr, td {
        padding: 10px;
    }

    thead {
        font-weight: bold;
        background-color: indianred;
        color: black;
    }

    tbody {
        color: gold;
        background-color: orangered;
    }
</style>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>FİRMA</th>
            <th>TEL</th>
            <th>ADRES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cList)
        {
            <tr>
                <td>@item.CustomerID</td>
                <td>@item.ContactName</td>
                <td>@item.CompanyName</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2>Çalışan Listesi</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>DOGUM TARIHI</th>
            <th>ADRES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.eList)
        {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.BirthDate</td>
                <td>@item.Address</td>
            </tr>
        }
    </tbody>
</table>