@model ModelDB.Models.MultiModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Listesi</h2>
<style>
    table, tr,td, th{
        border:1px solid black;
        border-collapse:collapse;
    }
    tr, td{
        padding:10px;
    }
    thead{
        font-weight:bold;
        background-color:indianred;
        color:black;
    }
    tbody{
        color:gold;
        background-color:orangered;
    }
</style>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>AÇIKLAMA</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.cList)
            {
                <tr>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                </tr>
            }
    </tbody>
</table>
<br />
<h2>Ürün Listesi</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>FIYAT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pList)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
            </tr>
        }
    </tbody>
</table>